.calculator {
  height: 32rem;
  width: 23.5rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #193441;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr repeat(5, 4.8rem);
}
